{% extends "layout.html" %} {% block title %} To-Do App {% endblock %} {% block content %}

<div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
</div>

{% if current_user.role == 'writer' %}
    <div class="row ">
        <form action="/add_item" method="POST">
            <label>Title:</label>
            <input type="text" name="filmTitle">
            <input class="btn btn-outline-secondary" type="submit" value="Add item">
        </form>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">ITEMS</h2>
        {% for list in [view_model.todo_items, view_model.doing_items, view_model.done_items] %}
        <ul class="list-group">
            {% if list %}
                <h4 style="text-decoration: underline;" class="display-4">{{list.0.status}}</h4>
            {% endif %}
            {% for item in list %}
                <li class="list-group-item">
                    <div class="form-inline">
                        <div class="form-group mb-2">
                            <h3 class="display-5">{{item.name}}</h3>
                        </div>
                    </div>
                    {% if current_user.role == 'writer' %}
                        <div class="form-group mb-2">
                            <label>Move Item to:</label>
                            <form style="display: inline-block;" method="POST" action="{{ url_for('revert_item', titleID = item.id) }}">
                                <input class="btn btn-primary" type="submit" name="revert_item" value="To Do" />
                            </form> 
                            <form style="display: inline-block;" method="POST" action="{{ url_for('doing_item', titleID = item.id) }}">
                                <input class="btn btn-primary" type="submit" name="doing_item" value="Doing" />
                            </form>
                            <form style="display: inline-block;" method="POST" action="{{ url_for('complete_item', titleID = item.id) }}">
                                <input class="btn btn-primary" type="submit" name="complete_item" value="Done" />
                            </form>                             
                        </div>
                    {% endif %}
                    <form method="POST" action="{{ url_for('item_description', titleID = item.id) }}">
                        <div class="form-group">
                            <label>Description</label>
                            {% if current_user.role == 'writer' %}
                                <textarea class="form-control" name="description" rows="3">{{item.description}}</textarea>
                                <br>
                                <input class="btn btn-primary mb-2" type="submit" value="Update Description">
                            {% else %}
                            <textarea class="form-control" name="description" rows="3" disabled>{{item.description}}</textarea>
                            {% endif %}
                        </div>
                    </form>
                    <form method="POST" action="{{ url_for('item_due', titleID = item.id) }}">
                        <div class="form-group">
                            <label>Due Date</label>
                            {% if current_user.role == 'writer' %}
                                <input type="text" name="date" class="date" value="{{item.due}}">
                                <input class="btn btn-outline-secondary" type="submit" value="Update Due Date">
                            {% else %}
                                <input type="text" name="date_reader" class="date_reader" value="{{item.due}}" disabled>
                            {% endif %}
                        </div>
                    </form>      
                </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}